# ====================== MySQL ======================
DB_HOST=localhost
DB_PORT=10001
DB_DATABASE=longlian_oa_dev
DB_USERNAME=root
DB_PASSWORD=dev

# ====================== Redis ======================
REDIS_HOST=localhost
REDIS_PORT=10002
REDIS_PASSWORD=

# ====================== 邮件通知 ======================
NOTIFY_HOST=
NOTIFY_USERNAME=
NOTIFY_PASSWORD=
NOTIFY_PORT=465
MAIL_STARTTLS=
MAIL_SSL=

# ====================== 数据源 & 缓存 ======================
DATASOURCE_TYPE=mysql
CACHE_TYPE=redis

# ====================== JWT ======================
JWT_SECRET=SecretKeyHereourSecretKeyHereoueeSecretKeyHereoueeSecroetKeyHereuee

# ====================== Spring ======================
SPRING_PROFILES_ACTIVE=dev
APP_DEBUG=false
SPRINGDOC_ENABLED=true

# ====================== 存储 ======================
STORAGE_TYPE=LOCAL
